<div class="extra-pagination">
	{{pagination}}
</div>
<div class="inner">
		{{#foreach posts limit="24"}}
				<div class="col p-4">
					<article class="{{post_class}} my-12">
							<div>
								<h2 class="post-title mt-4"><a href="{{url}}">{{{title}}}</a></h2>

								<p class="post-excerpt">{{custom_excerpt}}</p>

							</div>
					</article>
				</div>
		{{/foreach}}
</div>

{{pagination}}
