<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <title>{{meta_title}}</title>

    {{!-- Basic meta information --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Main css for the theme --}}
    <link rel="stylesheet" href="{{asset 'built/css/main.min.css'}}">

    {{!-- Default Ghost head --}}
    {{ghost_head}}
    
</head>
<body class="{{body_class}}">

    {{!-- Header section --}}
    {{> header}}

    <main class="content">
        <div class="main-content">
        {{!-- Main content --}}
        {{{body}}}
        </div>
    </main>

    {{!-- Footer section --}}
    {{> footer}}
    
    {{!-- Main script for the theme --}}
    <script src="{{asset 'js/main.js'}}" type="text/javascript"></script>

    {{!-- Default Ghost foot --}}
    {{ghost_foot}}
</body>
</html>