{{!< default}}
<header class="blog-header">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">Results</h1>
			<span class="blog-description">Content Harmony helps you scale<br> your content marketing process.
				<br>
				<hr class="my-3">
				<small>Take a look through how other marketing teams are growing with Content Harmony.</small></span>
		</div>
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		<article class="post no-image page">
			<div class="inner">
				<section class="post-content">

					{{#foreach posts}}

							<div class="cols-2 wide">
								<div class="col-1">
									<div class="tile p-0">
										{{#if feature_image}}
												<a href="{{url}}"><img src="{{img_url feature_image}}" class="m-0" /></a>
										{{else}}
												<a href="{{url}}"><img src="https://images.unsplash.com/photo-1558403194-611308249627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2250&q=80" class="m-0" /></a>
										{{/if}}
									</div>
								</div>
								<div class="col-1">
									<div class="">
										<h2><a href="{{url}}">{{{title}}}</a></h2>

										<p class="mb-0">{{custom_excerpt}}</p>
									</div>
								</div>
							</div>

							<hr>


					{{/foreach}}

				</section>

				{{> cta_box}}

				<hr>

				{{> shoutout}}

			</div>
		</article>

	</main>

</div>
